@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
	box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  margin: 0;
	height: 100vh;
	display: flex;
}
.container1 {
	width: 100%;
	display: flex;
	padding: 0 20px;
}

.slide {
	height: 80vh;
	border-radius: 20px;
	margin: 10px;
	cursor: pointer;
	color: white;
	flex: 1;
	background-size: cover;
	background-position: center;
	position: relative;
	transition: all 500ms ease-in-out;
}

.slide h3 {
	position: absolute;
	font-size: 24px;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}

.slide.active {
	flex: 10;

}

.slide.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.4s;

}

a {
  color: #000;
  text-decoration: none;
}
.connect {
	margin-left: 245px;
	display: flex;
	font-size: 50px;
	}

a:hover {
  text-decoration: underline;
}

a:active {
  color: blue;
}

a:visited {
  color: grey;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, .25);
}

.info {
  margin-bottom: 20px;
  display: flex;
}

.info-text {
  margin-left: 40px;
}

.info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
  margin: 0;
}

.info-text h4 {
  margin-bottom: 10px;
}





@media (max-width: 650px) {
  .info {
    display: block;
    text-align: center;
  }
}

.connect {
	margin-left: 205px;
	display: flex;
	font-size: 50px;
	}
.card {
  border-radius: 20px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.bg-yellow {
  background: #fff9dc;
}
.bg-violet {
	background:  #a477d170;
	margin-top: 40px;
}
.bg-red {
  background: #ffe5e5;
}

.bg-green {
  background: #e5ffe7;
}	

.list {
  padding: 0 20px;
}

.list li {
  color: #86898f;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.form h2 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}


@media (max-width: 480px) {
	.connect {
		margin-left: 114px;
		display: flex;
		font-size: 50px;
		}
}


.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 34px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
.hold {
	box-shadow: rgba(106, 0, 255, 0.408) 0px 30px 60px -30px, rgba(160, 123, 213, 0.386) 0px 30px 60px -30px inset;
}
.hide {
	display: none;
}
.hovered {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.container4 {
	position: relative;
	display: flex;
	max-width: 400px;
	flex-wrap: wrap;
	left: 100px;
}
.square {
	width: 16px;
	height: 16px;
	background-color: #1d1d1d;
	margin: 2px;
	box-shadow: 0 0 2px #000;
	transition: 2s ease;
}

.square:hover {
	transition-duration: 0s;
}
